<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>  RSE Idam Simulator Login Form </title>
</head>
<body>
<center> <h1> RSE Idam Simulator Login Form </h1> </center>
<form  action="#" th:action="${loginFormAction}" name="loginForm" method="post">
  <div class="container">
    <label>Username : </label>
    <input type="text" placeholder="Enter Username" name="username" id="username">
    <label>Password : </label>
    <input type="password" placeholder="Enter Password" name="password" id="password">
    <button type="submit" name="save">Sign in</button>
  </div>
</form>
</body>
</html>

