name: Java CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    env:
      AZURE_CONTAINER_REGISTRY_URL: hmctspublic.azurecr.io
      NEW_AZURE_CONTAINER_REGISTRY_URL: hmctsprod.azurecr.io
    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'gradle'

    - name: Build
      run: ./gradlew build -i


    ###################################################
    # HMCTSPROD ACR
    ###################################################
    - name: "Az CLI login"
      uses: azure/login@v2
      with:
        client-id: 456b556e-158c-426b-9b5b-ce6ebb32c6a1 # DTS Developers GitHub Actions ACR Publisher 2
        tenant-id: 531ff96d-0ae9-462a-8d2d-bec7c0b42082 # HMCTS.NET
        allow-no-subscriptions: true

    - run: |
        docker buildx create --name mybuilder --use
        docker buildx build --push --platform linux/amd64,linux/arm64 -t ${{ env.NEW_AZURE_CONTAINER_REGISTRY_URL }}/hmcts/rse/rse-idam-simulator:latest .
      if: github.ref == 'refs/heads/master'

    ###################################################
    # HMCTSPUBLIC ACR - Push
    ###################################################
    - name: Push to ACR
      uses: azure/docker-login@v2
      with:
        login-server: ${{ env.AZURE_CONTAINER_REGISTRY_URL }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - run: |
        docker buildx create --name mybuilder --use
        docker buildx build --push --platform linux/amd64,linux/arm64 -t ${{ env.AZURE_CONTAINER_REGISTRY_URL }}/hmcts/rse/rse-idam-simulator:latest .
      if: github.ref == 'refs/heads/master'



